@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all .3s linear;
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: #e4e4e7;

}

img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Fixed {
  position: fixed;
  left: 0;right: 0; top: 0;
}
